*{margin:0;padding:0; }


body{overflow-x: hidden;background-color:#FFF; }
.wrap{ width: 90%; margin 0 auto;}
.logo{position: relative;float: left;}
.barra{
	position:relative;
	top:8%;
   list-style: none;
   float: right;
   right: 5%;
   border-bottom: medium dashed #333;

}

		
.barra li {
display: inline-block;
padding: 30px 25px 12px;

}

a.link{
 color: #545454;
 text-decoration: none;
 font-family: Tahoma, Geneva,  sans-serif;

}



a:active.link{color: #0038ff;}
a:hover.link{
	color:  	#0038ff;
	transition: color 0.3s ease-in-out;
	
}

